numpy
sounddevice
faster-whisper
torch
kokoro
PyQt5
Pillow
requests
python-dotenv
chromadb
ddgs
pyautogui
pygetwindow
screen-brightness-control
comtypes
pycaw
opencv-python
mediapipe
vosk
openai
huggingface-hub
